@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@300;400;500;700&display=swap");

/*** Navbar ***/

nav {
  margin: 20px;
}

.navbar-brand {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}

#navbar .navbar-nav a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #333;
  margin-right: 15px;
}

#navbar .navbar-nav a:hover {
  color: #828282;
}

/*** Header ***/

.header {
  margin: 40px auto;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.header p {
  color: #2d9cdb;
}

.header h2 {
  color: #333;
}

.block {
  display: block;
  line-height: 72px;
}

/*** Home Page ***/

#home-section {
  text-align: left;
}

.home-fig {
  max-width: 1300px;
  width: 100%;
  margin: 5px auto;
}
.home-fig img {
  width: 100%;
  border-radius: 15px;
}

.slogan-box {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
}

.slogan-box h2 {
  font-weight: 500;
}

.slogan-box p {
  max-width: 360px;
  width: 100%;
  font-weight: 400;
}

.form-group {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-top: 2px solid rgb(77, 68, 46);
  border-radius: 15px;
}

.form-group input {
  border-radius: 12px;
}

.email-label {
  margin-top: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}

.btn {
  border-radius: 12px;
  background-color: #2d9cdb;
}

/*** Services Section ***/

.services-container {
  margin: 50px auto;
}

.service-item {
  /* border: 2px solid rgb(18, 94, 94); */
  padding-top: 50px;
  padding-bottom: 30px;
  border-radius: 24px;
  margin: 40px auto;
}

.service-item:hover {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  cursor: pointer;
}

.service-item button {
  background-color: #e0e0e0;
  color: #828282;
  border: #e0e0e0;
}

.service-item:hover button {
  background-color: #2d9cdb;
  color: #fff;
}

.icon {
  padding: 10px;
  color: white;
  border-radius: 16px;
  margin-bottom: 30px;
}

#icon-1 {
  background-color: #2d9cdb;
}

#icon-2 {
  background-color: #27ae60;
}

#icon-3 {
  background-color: #eb5757;
}

/*** Work Section ***/

#work-section h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 36px;
}

.work-container {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 60px;
}

.work-fig {
  max-width: 545px;
  margin: 10px auto;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.work-fig img {
  width: 100%;
}

.work-fig figcaption {
  font-size: 14px;
  color: #828282;
}

.work-fig h4 {
  color: #333;
  font-size: 24px;
  line-height: 36px;
}

.work-item {
  margin: 20px auto;
}

.more-margin-item {
  margin-top: 150px;
}

.see-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #2d9cdb;
}

.see-more:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .more-margin-item {
    margin-top: 20px;
  }
}

/*** Client Section ***/

.client-container {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.client-container p {
  max-width: 360px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #4f4f4f;
}

.client-item {
  margin: 20px auto;
}

.client-item h5 {
  font-weight: 500;
  color: #eb5757;
  font-size: 18px;
}

.client-item h4 {
  color: #333;
  font-size: 36px;
}

.client-item .block {
  line-height: 45px;
}

.client-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
}
.client-item img {
  max-width: 160px;
  border-radius: 24px;
}

#client-1 {
  grid-column: 3 / 4;
  grid-row: 1 /2;
}

#client-2 {
  grid-column: 3 / 4;
  grid-row: 3 /4;
}

#client-3 {
  grid-column: 1 / 2;
  grid-row: 2/3;
}

.tweet {
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.tweet h5 {
  color: #333;
  font-size: 36px;
}

.tweet .block {
  line-height: 45px;
}

.tweet img {
  max-width: 100px;
  border-radius: 24px;
}

.profile {
  display: flex;
  margin-top: 40px;
  padding-top: 20px;
  flex-direction: row;
  align-items: center;
}

.profile p {
  margin: 10px;
  line-height: 0px;
  color: #333;
  size: 24px;
}

.profile span {
  color: #828282;
  size: 18px;
}

/*** Footer Section ***/

footer {
  background-color: #100e1d;
  padding-top: 30px;
  padding-bottom: 90px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: left;
}

.footer-item {
  margin: 10px auto;
  text-align: left;
}

footer h5 {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  font-size: 36px;
}

footer figure img {
  margin-right: 5px;
}

footer figure img:hover {
  cursor: pointer;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li a {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

footer ul li {
  margin-top: 6px;
}

footer ul li a:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

footer .email-label {
  color: #f2f2f2;
  font-size: 14px;
  margin-top: 0;
  padding-top: 0;
}
